.plugin-warning {
    background-color: #ffcc00;
    color: #000;
    padding: 10px;
    border: 2px solid #ff9900;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.plugin-warning a {
    color: #0000ff;
    text-decoration: underline;
}

.centered-dt dt {
    margin-top: 13px;
}

#ul-output,
#ul-output ul {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 100%;
    overflow: auto;
    max-height: 200px;
    text-align: left;
}

#ul-output ul:not(:last-of-type) {
    margin-bottom: 20px;
}

#ul-output .li-arrow {
    font-weight: bold;
    color: red;
}

#ul-output .li-headline {
    font-weight: bold;
}

#hide_description {
    min-width: max-content;
}

#ddcl-view_mode_highlighting {
    max-width: 80px;
	width: 100%;
}

/* ========================
   Uncategorized Name Textarea
   ======================== */

#uncategorized_name {
    min-width: 300px;
    max-width: 300px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    resize: none;
    border: none;
    border-bottom: 1px solid var(--input-border-color);
}

/* ========================
   CodeMirror
   ======================== */

.CodeMirror {
    resize: both;
    overflow: auto;
}

/* ========================
   About & Info Panel
   ======================== */

.about-button {
    position: absolute;
    right: 30px;
}

.panel-info-text {
    padding: 20px;
    font-size: 18px;
}

/* ========================
   Responsive Fixes
   ======================== */

.sweet-alert input.swal-force-visible {
    display: block !important;
}

.swal-responsive-fix > p {
    white-space: normal !important;
    overflow-wrap: normal !important;
}

#categories-container tr > td > select {
    line-height: 2rem;
    max-width: 90%;
}
