/* ========================
   Default Table
   ======================== */

.content > table {
    display: none;
}

/* ========================
   Categories Container
   ======================== */

#categories-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100vw;
    overflow-x: hidden;
}

.category {}

.category-header {
    font-weight: bold;
    color: #f2f2f2;
    background: linear-gradient(90deg,#e22828 0,#ff8c2f);
    padding: 10px;
    cursor: pointer;
    text-align: center;
    display: block;
    white-space: nowrap;
    border-radius: 5px;
    user-select: none;
    position: relative;
}

.category-content {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    background: linear-gradient(90deg,#e22828 0,#ff8c2f) 0 0 no-repeat,
                linear-gradient(90deg,#e22828 0,#ff8c2f) 0 100% no-repeat,
                linear-gradient(0deg,#e22828 0,#e22828) 0 100% no-repeat,
                linear-gradient(0deg,#ff8c2f 0,#ff8c2f) 100% 100% no-repeat;
    background-size: 100% 2px,100% 2px,2px 100%,2px 100%;
}

.uncategorized_empty {
    display: none;
}

/* ========================
   Categories Container Collapse
   ======================== */

.category:not(.collapsed) .category-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.category.collapsed .category-header {
    transition: border-radius 0s ease 0.5s;
}

.category-content {
    transition: max-height 0.5s ease;
    max-height: 0;
}

.category:not(.collapsed) .category-content {
    max-height: unset;
}

/* ========================
   Categories Container Header Icon
   ======================== */

.category-header::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: all 0.3s ease;
}

.category.collapsed .category-header::before {
    border-top: 8px solid #f2f2f2;
    border-bottom: 0;
}
.category:not(.collapsed) .category-header::before {
    border-bottom: 8px solid #f2f2f2;
    border-top: 0;
}

/* ========================
   Category Controls
   ======================== */

.category-controls {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-controls input {
    margin: 0px;
}

.category-controls input.ctrl-manage-scripts {
    min-width: 142px;
    margin-right: auto;
}

/* ========================
   Scripts Container
   ======================== */

.category-scripts {
    margin: 10px;
}

.category-scripts tr td:first-child > font {
    display: flex;
    align-items: center;
}

.category-scripts tr td:first-child > font > b {
    display: flex;
    overflow: hidden;
}

.category-scripts tr td:first-child > font > b > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* ========================
   View Modes: Optionals
   ======================== */

.vo-highlight tr {
    position: relative;
    overflow: hidden;
}

.vo-highlight tr::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(226,40,40,0.15) 0%, rgba(255,140,47,0.15) 100%);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
}

.vo-highlight tr:hover::after {
    opacity: 1;
}

/* ========================
   View Modes: List
   ======================== */

.category-content.vm-list .category-scripts tr:not(:last-child) {
    border-bottom: 1px solid var(--base09);
}

.category-content.vm-list .category-scripts tr td:first-child > font {
    margin-top: 5px;
}

/* Responsive Table Fix */
.category-content.vm-list .category-scripts {
    overflow-x: auto;
}

.category-content.vm-list .category-scripts tr {
    display: flex;
    align-items: center;
    gap: 20px;
    width: max-content;
    min-width: 100%;
}

.category-content.vm-list .category-scripts tr td:nth-child(1) {
    padding: 0 5px;
    min-width: 300px;
    max-width: 300px;
}

.category-content.vm-list .category-scripts tr td:nth-child(2) {
    min-width: 110px;
    max-width: 110px;
}

.category-content.vm-list .category-scripts tr td:nth-child(3),
.category-content.vm-list .category-scripts tr td:nth-child(4),
.category-content.vm-list .category-scripts tr td:nth-child(5) {
    min-width: 170px;
    max-width: 170px;
}

.category-content.vm-list .category-scripts tr td:nth-child(6) {
    display: flex;
    gap: 5px;
    font-size: 0;
    min-width: 85px;
    max-width: 85px;
}

.category-content.vm-list .category-scripts tr td:nth-child(7) {
    width: max-content !important;
}

/* Separator */
.vm-list.vo-separator > .category-scripts > tr:not(:last-child) {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #e22828 0%, #ff8c2f 100%);
    border-image-slice: 1;
}

/* ========================
   View Modes: Panel
   ======================== */

.category-content.vm-panel .category-scripts {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 Panels per row */
    gap: 10px;
}

.category-content.vm-panel .category-scripts tr {
    flex-wrap: wrap;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    min-width: 0;
    background: linear-gradient(90deg,#e22828 0,#ff8c2f) 0 0 no-repeat,linear-gradient(90deg,#e22828 0,#ff8c2f) 0 100% no-repeat,linear-gradient(0deg,#e22828 0,#e22828) 0 100% no-repeat,linear-gradient(0deg,#ff8c2f 0,#ff8c2f) 100% 100% no-repeat;
    background-size: 100% 2px,100% 2px,2px 100%,2px 100%;
}

.category-content.vm-panel .category-scripts tr td:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.category-content.vm-panel .category-scripts tr td:not(:first-child) {
    width: calc(50% - 5px);
    display: flex;
    align-items: center;
}

.category-content.vm-panel .category-scripts tr td:last-child > font {
    margin-left: auto;
}

.category-content.vm-panel .category-scripts tr td:nth-child(2) input,
.category-content.vm-panel .category-scripts tr td:nth-child(3) input {
    width: 100%;
    display: block;
}

.category-content.vm-panel .category-scripts tr td:nth-child(4),
.category-content.vm-panel .category-scripts tr td:nth-child(5),
.category-content.vm-panel .category-scripts tr td:nth-child(6),
.category-content.vm-panel .category-scripts tr td:nth-child(7) {
    margin-top:15px;
}

@media (max-width: 1600px) {
    .category-content.vm-panel .category-scripts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .category-content.vm-panel .category-scripts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .category-content.vm-panel .category-scripts {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ========================
   SWAL Add Script Dialog
   ======================== */

.swal-add-script {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.swal-add-script label {
    margin-bottom: 5px;
    font-weight: bold;
}

#script-selection {
    list-style: none;
    padding: 0;
    min-width:100%;
    overflow-y: auto;
    background-image: none;
}

#add-script-button {
    width: 200px;
    margin: 5px auto 10px;
}

.swal-add-script p {
    font-weight: bold;
}

#added-scripts {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 100%;
    overflow-y: auto;
    max-height: 200px;
    display: flex;
    flex-direction: column;
}

#added-scripts li {
    display: flex;
    align-items: center;
    text-align: left;
}

#added-scripts li input {
    margin-top: 0;
}

/* ========================
   Move Buttons
   ======================== */

input.ctrl-move-up,
input.manager-move-up {
    margin-right: 5px;
}

input.ctrl-move-up,
input.ctrl-move-down,
input.manager-move-up,
input.manager-move-down {
    width: 40px;
    min-width: 40px;
}

/* ========================
   Description
   ======================== */

.ca_descEdit {
    word-break: normal;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    display: inline-block;
    max-height: 150px;
    overflow-y: auto;
}

.ca_descEdit.desc-hidden {
    color: transparent;
    background-color: transparent;
    user-select: none;
    font-size: 0px;
}

.ca_descEdit textarea {
    width: 95%;
    max-height: 150px;
}

/* ========================
   Edit Script
   ======================== */

#editScriptName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    display: inline-block;
    vertical-align: bottom;
}

/* ========================
   Save Panel
   ======================== */

#save-panel {
    position: fixed;
    right: 70px;
    bottom: 25px;
    color: #f2f2f2;
    background: linear-gradient(90deg,#e22828 0,#ff8c2f);
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 3000;
    font-size: 14px;
    font-weight: bold;
}

#save-timer {}

/* ========================
   Search Function
   ======================== */

#category-search-input:not(:placeholder-shown) ~ #categories-container .category-controls {
    display: none;
}

.category-search-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    width: 300px;
}

.category-search-wrapper > .category-search-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.category-search-wrapper > .category-search-input {
    padding-left: 30px !important;
    width: 100%;
    box-sizing: border-box;
}

/* ========================
   Custom Scrollbar: Chromium / WebKit
   ======================== */

.category-content.vm-list .category-scripts::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #e22828 0%, #ff8c2f 100%);
}

.category-content.vm-list .category-scripts::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #ff5b5b 0%, #ffa44f 100%);
}

/* ========================
   Custom Scrollbar: Firefox
   ======================== */

.category-content.vm-list .category-scripts {
    scrollbar-color: #ff8c2f #2b2b2b;
}

/* ========================
   Responsive Fixes
   ======================== */

.swal-user-scripts-enhanced > p {
    white-space: normal !important;
    overflow-wrap: normal !important;
}

#categories-container tr > td > select {
    line-height: 2rem;
    max-width: 90%;
}